.margin-header
    margin-block-start: 100px

@media (max-width: 1023px)
    .margin-header
        margin-block-start: 145px

.container-class
    margin-inline: auto
    width: 95%
    max-width: 1600px

.main-class
    margin-block-end: 150px